APP_NAME=PortalV2
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_MX

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# SQL Server — requiere php_sqlsrv_82_ts_x64.dll + php_pdo_sqlsrv_82_ts_x64.dll
# Descarga: https://github.com/microsoft/msphpsql/releases
# LocalDB: dejar DB_PORT vacío
DB_CONNECTION=sqlsrv
DB_HOST=(localdb)\MSSQLLocalDB
DB_PORT=
DB_DATABASE=PortalV2
DB_USERNAME=
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=database

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="noreply@portalv2.local"
MAIL_FROM_NAME="${APP_NAME}"

SANCTUM_STATEFUL_DOMAINS=localhost:3000,localhost:5173,127.0.0.1

VITE_APP_NAME="${APP_NAME}"
